html, body, ion-app, ion-content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-item {
  margin-bottom: 16px;
}

ion-button {
  margin-top: 16px;
}
