.form-container {
    padding: 16px;
    background: #fff;
    margin-bottom: 16px;
    border-radius: 8px;
  }
  
  .item-list {
    margin-top: 16px;
  }
  
  .ion-page {
    display: flex;
    flex-direction: column;
  }
  
  .ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .ion-text-wrap {
    white-space: normal;
  }
  
  h3 {
    text-align: center;
  }
  